<div class="hero-unit">
  <h1>Have a Question?</h1>
  <p>We'll Answer it!</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
  <% if current_user.admin? %>
  <p>You have Admin power</p>
	<% end %>
</div>