$navbarBackgroundHighlight: #000;
$navbarBackground: #000;
$navbarBrandColor: #fff;
$navbarLinkColor: #fff;
$navbarLinkColorHover: #abd1f7;
$baseBorderRadius: 0;

@import "bootstrap";

@import "bootstrap-responsive";